:root {
	--fs-xlDisplay: clamp(4rem, 3vw + 3rem, 6rem);
	--fs-xl: clamp(3rem, 5vw + 2rem, 4rem);
	--fs-lg: clamp(4rem, 4vw + 1rem, 5rem);
	--fs-md: clamp(2.5rem, 2vw + 1rem, 4rem);
	--fs-sm: clamp(2rem, 2vw + 1rem, 2rem);
	--fs-xs: clamp(1.1rem, 2vw + 1rem, 1.5rem);
	--headerH: 6rem;
	--sitePadding: 1rem;
	--border: 2px solid var(--darkestGrey);
	--borderWidth: 2px;
	--darkestGrey: #1e1e1d;
	--primaryBackground: #161615;
	--green: #5edba0;
	--white: #e9e4ea;
}

@media screen and (min-width: 768px) {
	:root {
		--sitePadding: 8rem;
	}
}

@media screen and (min-width: 1400px) {
	:root {
		--sitePadding: 2rem;
	}
}

::selection {
	background: var(--pink);
}
::-moz-selection {
	background: var(--pink);
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	/* outline: 1px solid orange; */
}

html {
	background-color: var(--green);
}
html,
body {
	overflow-x: clip;

	/* overscroll-behavior: none; */
}

body {
	background: var(--primaryBackground);
	font-weight: 400;
	min-height: 100vh;
}
body,
section {
	color: var(--white);
}

a {
	color: inherit;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
	color: var(--white);
	font-weight: 900;
	text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5 {
	line-height: 1;
}

p {
	line-height: 1.5;
}

.strokedLightBg {
	color: var(--primaryBackground);
	text-shadow: 1px 1px 0 var(--white), 2px 2px 0px var(--white);
	-webkit-text-stroke: calc(var(--borderWidth)) var(--white);
}
.strokedDarkBg {
	color: var(--white);
	text-shadow: 1px 1px 0 var(--primaryBackground),
		2px 2px 0px var(--primaryBackground);
	-webkit-text-stroke: 1px var(--primaryBackground);
}

h1 {
	font-size: var(--fs-xl);
}

h2 {
	font-size: var(--fs-lg);
}

h3 {
	font-size: var(--fs-md);
}
h4 {
	font-size: var(--fs-sm);
}
h5 {
	font-size: var(--fs-xs);
}

.stack > * + * {
	margin-block-start: 1.25rem;
}

@media screen and (min-width: 768px) {
	h1,
	h2 {
		line-height: 0.9;
	}
}

@media screen and (min-width: 1200px) {
	h1 {
		font-size: var(--fs-xlDisplay);
	}
	h1,
	h2 {
		line-height: 0.9;
	}

	.strokedLightkBg {
		text-shadow: 1px 1px 0 var(--darkGrey), 2px 2px 0px var(--darkGrey),
			3px 3px 0px var(--darkGrey);
		-webkit-text-stroke: var(--borderWidth) var(--darkGrey);
	}
	.strokedDarkBg {
		text-shadow: 1px 1px 0 var(--primaryBackground),
			2px 2px 0px var(--primaryBackground), 3px 3px 0px var(--primaryBackground);
		-webkit-text-stroke: 1px var(--primaryBackground);
	}
}
