:root {
<<<<<<< Updated upstream
	--darkestGrey: #eae4ea;
	--primaryBackground: #161615;

	--fs-xlDisplay: clamp(4rem, 3vw + 3rem, 6rem);
	--fs-xl: clamp(3rem, 5vw + 2rem, 4rem);
	--fs-lg: clamp(4rem, 4vw + 1rem, 5rem);
	--fs-md: clamp(2.5rem, 2vw + 1rem, 4rem);
	--fs-sm: clamp(2rem, 2vw + 1rem, 2rem);
	--fs-xs: clamp(1.1rem, 2vw + 1rem, 1.5rem);
	--headerH: 6rem;
	--sitePadding: 2rem;
	--border: 2px solid var(--darkestGrey);
	--borderWidth: 2px;

	--shadow: 0px 12px 15px -6px rgba(0, 0, 0, 0.35);

	--pink: #ff4ad0;
	--white: #e9e4ea;
}

@media screen and (min-width: 768px) {
	:root {
		--sitePadding: 8rem;
	}
}

=======
	--grey100: #ffffff;
	--grey200: #dddddd;
	--grey500: #6d6d6d;
	--grey600: #4d4d4d;
	--grey700: #383838;
	--grey800: #1a1a1a;
	--grey900: #000000;

	--turquoise500: #57eace;
	--violet500: #7a9ffc;
	--orange500: #fca95e;
	--green500: #69e29d;
	--red500: #ed5140;

	--test100: #f00;
	--test200: #00f;
}

::selection {
	background: var(--grey200);
}
::-moz-selection {
	background: var(--grey200);
}
>>>>>>> Stashed changes
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	/* outline: 1px solid orange; */
}

html {
<<<<<<< Updated upstream
	background-color: var(--pink);
}
html,
body {
=======
	overscroll-behavior: none;
	background: linear-gradient(90deg, var(--turquoise500) 0%, var(--orange500) 100%);
}

body > div {
	min-height: 100svh;
	background: linear-gradient(45deg, var(--grey800) 0%, var(--grey900) 100%);
}

body,
html {
	color: var(--grey100);
>>>>>>> Stashed changes
	overflow-x: clip;
	/* overscroll-behavior: none; */
}

body {
	font-weight: 400;
<<<<<<< Updated upstream
=======
	min-height: 100svh;
	font-size: 15px;
>>>>>>> Stashed changes
}
body,
section {
	color: var(--white);
}

a {
	color: inherit;
	text-decoration: none;
}

<<<<<<< Updated upstream
h1,
h2,
h3,
h4,
h5 {
	color: var(--white);
	font-weight: 900;
	text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5 {
	line-height: 1;
}

p {
	line-height: 1.5;
}

.strokedLightBg {
	color: var(--primaryBackground);
	text-shadow: 1px 1px 0 var(--white), 2px 2px 0px var(--white);
	-webkit-text-stroke: calc(var(--borderWidth)) var(--white);
}
.strokedDarkBg {
	color: var(--white);
	text-shadow: 1px 1px 0 var(--primaryBackground),
		2px 2px 0px var(--primaryBackground);
	-webkit-text-stroke: 1px var(--primaryBackground);
}

h1 {
	font-size: var(--fs-xl);
}

h2 {
	font-size: var(--fs-lg);
}

h3 {
	font-size: var(--fs-md);
}
h4 {
	font-size: var(--fs-sm);
}
h5 {
	font-size: var(--fs-xs);
}

.stack > * + * {
	margin-block-start: 1.25rem;
}

@media screen and (min-width: 768px) {
	h1,
	h2 {
		line-height: 0.9;
	}
=======
button {
	border: 0;
	background-color: transparent;
}
@media screen and (min-width: 768px) {
>>>>>>> Stashed changes
}

@media screen and (min-width: 1200px) {
<<<<<<< Updated upstream
	h1 {
		font-size: var(--fs-xlDisplay);
	}
	h1,
	h2 {
		line-height: 0.9;
	}

	.strokedLightkBg {
		text-shadow: 1px 1px 0 var(--darkGrey), 2px 2px 0px var(--darkGrey),
			3px 3px 0px var(--darkGrey);
		-webkit-text-stroke: var(--borderWidth) var(--darkGrey);
	}
	.strokedDarkBg {
		text-shadow: 1px 1px 0 var(--primaryBackground),
			2px 2px 0px var(--primaryBackground), 3px 3px 0px var(--primaryBackground);
		-webkit-text-stroke: 1px var(--primaryBackground);
	}
=======
>>>>>>> Stashed changes
}

/* * {
	outline: 1px solid pink;
} */
/* 
svg * {
	outline: 1px solid red;
} */
